apiVersion: v1
kind: Service
metadata:
  name: batch
spec:
  selector:
    app: batch
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: batch
  template:
    metadata:
      labels:
        app: batch
    spec:
      containers:
        - name: batch
          image: sixeyed/prometheus-demo-batch:linux
          ports:
            - containerPort: 80
