apiVersion: v1
kind: Service
metadata:
  labels:
    app: network-flask-backend
  name: flask-app-deployment
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: network-flask-backend
  type: LoadBalancer
status:
  loadBalancer: {}
